* {
    box-sizing: border-box;
}

:root {
    --font-heading: "Sen", sans-serif;
    --primary-color: #FFB900;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.main-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}

.btn {
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    border-radius: 24.5px;
    background: #171100;
    padding: 0 8px;
    line-height: 50px;
    min-width: 118px;
    cursor: pointer;
}

.btn:hover {
    opacity: .9;
}

.heading {
    color: #171100;
    font-family: var(--font-heading);
    font-weight: 700;
}

.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -1.16px;
}

.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.76px;
}

.desc {
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    margin-top: 22px;
}

.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--line-clamp, 1);
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.word-break-all {
    word-break: break-all;
}

/* ========== Header ========== */
.header {
    position: sticky;
    top: -28px;
    background-color: #FFFCF4;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header .logo {
    cursor: pointer;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    color: #5F5B53;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    padding: 8px 21px;
}

.nav a:hover,
.nav li.active a {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background-color: #171100;
}

.header .action {
    margin-left: 49px;
}

.header .sign-up-btn {
    min-width: 144px;
}

/* ========== Hero ========== */
.hero {
    background-color: #FFFCF4;
}

.hero .body {
    display: flex;
    align-items: center;
    padding: 56px 0 65px;
}

/* Hero left */
.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
}

.hero-summary {
    position: absolute;
    right: -100px;
    bottom: 48px;
    width: 270px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
    padding: 24px;
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .item+.item {
    margin-top: 14px;
}

.hero-summary .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #FFF9E8;
}

.hero-summary .item:nth-of-type(2) .icon {
    background-color: #FCEFFF;
}

.hero-summary .item:nth-of-type(3) .icon {
    background-color: #EBEAFF;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .label {
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.hero-summary .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

/* Hero right */

.hero .content-block {
    width: 52%;
    margin-left: 230px;
}

.hero .cta-group {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero .hero-cta {
    display: inline-block;
    min-width: 180px;
    line-height: 64px;
    border-radius: 32px;
    background: var(--primary-color);
}

.hero .watch-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
}

.hero .cta-group .play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFF;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
    margin-left: 14px;
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero .content-block .desc.second {
    margin-top: 48px;
}

.hero .content-block .stats {
    margin-top: 8px;
}

.hero .content-block .stats strong {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.23;
    margin-right: 6px;
}

.hero .content-block .stats strong:nth-child(2) {
    margin-left: 28px;
}

/* ========== Popular ========== */
.popular {
    padding: 200px 0;
}

.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-top .desc {
    margin-top: 16px;
}

.popular-top .controls {
    display: flex;
    align-items: center;
    gap: 18px;
}

.popular-top .control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    transition: .2s;
}

.popular-top .control-btn:hover {
    background-color: var(--primary-color);
    color: #FFF;
}

.popular .course-list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}

.popular .course-item {
    flex: 1;
    border-radius: 12px;
    border: 1px solid #E2DFDA;
    background: #FFF;
    transition: .3s;
}

.popular .course-item:hover {
    box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
    border-color: transparent;
}

.popular .course-item .thumb {
    width: calc(100% + 2px);
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
    margin-left: -1px;
}

.popular .course-item .info {
    padding: 16px 22px 22px;
}

.popular .course-item .head,
.popular .course-item .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .course-item .title a {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    padding-right: 6px;
}

.popular .course-item .rating {
    display: flex;
    align-items: center;
    gap: 6px;
}

.popular .course-item .value {
    color: #FEA31B;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.popular .course-item .desc {
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 1.85;
}

.popular .course-item .foot {
    margin-top: 12px;
}

.popular .course-item .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.popular .course-item .foot .btn {
    color: #FFF;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    transition: .2s;
}

.popular .course-item .foot .btn:hover {
    background-color: var(--primary-color);
}

/* ========== Feedback ========== */
.feedback {
    padding: 96px 0;
    background-color: #2E2100;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback-item {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    width: 100%;
}

.feedback-item .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-item .info .title {
    color: #F7F7F7;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.41;
    margin-top: 18px;
}

.feedback-item .info .desc {
    color: #BFBCB2;
    font-size: 1.4rem;
    line-height: 1.85;
    margin-top: 4px;
}

.feedback-item .dots {
    display: flex;
    gap: 6px;
    margin-top: 28px;
}

.feedback-item .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #634700;
    cursor: pointer;
}

.feedback-item .dot.active {
    background-color: #FFB900;
    cursor: default;
}

.feedback-item .content {
    width: 66%;
}

.feedback-item .content .quote {
    color: #FFF;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54;
    margin-left: 30px;
}

/* ========== Features 1 ========== */
.features {
    margin-top: 135px;
    padding: 65px 0;
}

.features .body {
    display: flex;
    justify-content: space-between;
}

.features .images {
    display: flex;
    gap: 0 30px;
}

.features .images img {
    width: 270px;
    height: 405px;
    border-radius: 16px;
    object-fit: cover;
}

.features .images img.lower {
    margin-top: 34px;
}

.features .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40.17%;
}

.features .content .desc {
    font-size: 1.6rem;
    line-height: 1.75;
    margin-top: 16px;
}

.features .content .cta-btn {
    margin-top: 32px;
    min-width: 137px;
    background-color: var(--primary-color);
}

/* Features 2 */
.features-2nd {
    margin-top: 70px;
}

.features-2nd .body {
    flex-direction: row-reverse;
}

.features-2nd .content {
    width: 48.71%;
}

.features-2nd .images img {
    width: 470px;
    height: 440px;
    border-radius: 20px;
}