* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
    color: inherit;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    min-width: 118px;
    padding: 17px 28px;
    border-radius: 24.5px;
    background: #171100;
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    opacity: .9;
}


/* ========== Header ========== */
.header {
    background-color: #FFFCF4;
}

.header.fixed {
    position: sticky;
    top: -24px;
}

.header .main-content {
    display: flex;
    align-items: center;
    padding: 36px 0 8px 0;
}

.header .logo {
    cursor: pointer;
}

.header .nav {
    margin-left: auto;
}

.header .nav ul {
    display: flex;
}

.header .nav a {
    position: relative;
    color: #5F5B53;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 8px 21px;
}

.header .active a,
.header a:hover {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.header .active a::after {
    display: block;
    position: absolute;
    left: 21px;
    bottom: 6px;
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #161616;
}

.header .action {
    margin-left: 49px;
}

.header .sign-up {
    padding: 17px 41px;
}

/* ========== Hero ========== */
.hero {
    background-color: #FFFCF4;
}

.hero .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 56px 0 65px;
}

.img-block, .info {
    width: 470px;
}

.hero .hero-img {
    width: 100%;
    height: 685px;
}