* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}

.btn {
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    border-radius: 24.5px;
    background: #171100;
    padding: 0 8px;
    line-height: 50px;
    min-width: 118px;
    cursor: pointer;
}

.btn:hover {
    opacity: .9;
}

/* ========== Header ========== */
.header {
    position: sticky;
    top: -28px;
    background-color: #FFFCF4;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header .logo {
    cursor: pointer;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    color: #5F5B53;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    padding: 8px 21px;
}

.nav a:hover,
.nav li.active a {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background-color: #171100;
}

.header .action {
    margin-left: 49px;
}

.header .sign-up-btn {
    min-width: 144px;
}